Additional records should be put in additional section of DNS message

As described in [RFC6763 Section 12](https://tools.ietf.org/html/rfc6763#section-12)  responses which contain `PTR` or `SRV` records, should put additional records (like `A`, `AAAA`,...) in the additional section. 

Currently those additional records are put in the `Answer` section by using the `Answer   []RR` field of `dns.Msg` type. Additional records should be put in the `Extra    []RR` field of the `dns.Msg` type.


I have the same requirement from my side to append txt and SRV fields to additional records in PRT response. May I ask how did you solve it in the end? Thanks a lot!

@chenzh8007 I'm using my own library [dnssd](https://github.com/brutella/dnssd) now.

Thanks for your reply, but I need to run my service in embedded linux, and it would be best to rely on avahi for that.